.container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.border {
	border-style: solid;
	border-color: #000000;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}
.number {
	font-size: x-large;
	color: #000000;
	font-weight: bold;
}