<div class="row justify-content-center mt-2 mb-3">
	<h3 class="text-center mb-2">Lista de personajes de Ricky and Morty</h3>
	<div class="d-grid gap-2 d-md-flex justify-content-md-end mb-2 ms-8">
		<h5 class="text-left">Total de páginas {{ numPages }} Página actual {{ currentPage }}</h5>
		<button 
			class="btn btn-primary" 
			(click)="changePage(false)" 
			[disabled]="currentPage == 1"
		>Anterior
		</button>
		<button 
			class="btn btn-primary ms-2" 
			(click)="changePage(true)" 
			[disabled]="currentPage == numPages"
		>Siguiente
		</button>
	</div>
	<div 
		class="card m-1 border border-2" 
		style="width: 17rem" 
		*ngFor="let personaje of personajes"
		[ngClass]="{ 'border-success': (personaje.status === 'Alive'), 'border-danger': (personaje.status === 'Dead') }"
	>
		<img [src]="personaje.image" class="card-img-top img-fluid" alt="...">
		<div class="card-body">
			<h5 class="card-title">{{ personaje.name }}</h5>
			<p class="card-text"></p>
		</div>
	</div>
</div>

<!-- TODO: solo falta ajustar los estilos de la paginacion ---->