.container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
}
.border {
	border-style: solid;
	border-color: #000000;
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
}
.numbers {
	color: #000000;
	font-size: x-large;
	font-weight: bold;
}
.words {
	color: #000000;
	font-size: large;
	font-weight: bold;
}