<div class="container">
	<div class="container-calculator">
		<div class="container-input">
			<p>{{ result }}</p>
		</div>
		<div class="container-col-3">
			<button (click)="getNumber('1')">1</button>
			<button (click)="getNumber('2')">2</button>
			<button (click)="getNumber('3')">3</button>
		</div>
		<div class="container-col-3">
			<button (click)="getNumber('4')">4</button>
			<button (click)="getNumber('5')">5</button>
			<button (click)="getNumber('6')">6</button>
		</div>
		<div class="container-col-3">
			<button (click)="getNumber('7')">7</button>
			<button (click)="getNumber('8')">8</button>
			<button (click)="getNumber('9')">9</button>
		</div>
		<div class="container-col-1">
			<button (click)="getNumber('0')">0</button>
		</div>
		<div class="container-col-4">
			<button (click)="getNumber('+')">+</button>
			<button (click)="getNumber('-')">-</button>
			<button (click)="getNumber('*')">*</button>
			<button (click)="getNumber('/')">/</button>
		</div>
		<div class="container-col-1">
			<button (click)="getResult()">=</button>
		</div>
	</div>
</div>