.container{
	width: 70%;
	margin: 20px auto 0 auto;
	display: flex;
}
.left {
	width: 40%;
}
.right {
	width: 60%;
}

/* cash register */
h1 {
	text-align: center;
}
.container-cash-register {
	width: 70%;
	margin:  30px auto 0 auto;
	display: flex;
}
.container-cash-register .left {
	width: 70%;
	padding: 10px;
}
.container-cash-register .right {
	width: 30%;
	padding: 10px;
}

/* HostBinding */
.hover {
	background-color: lightseagreen;
}
.noHover {
	background-color: lightyellow;
}