/* HostBinding */
.hover {
	background-color: lightseagreen;
}
.noHover {
	background-color: lightyellow;
}

/* routes */
.routes {
	display: flex;
	flex-direction: column;
}
.active {
	color: red;
	background-color: lavenderblush;
}