<!--
<app-alert [text]="titles[0]" subTitle="Este es el primero" (clickAlert)="onClickAlert($event)"></app-alert>
<app-alert [text]="titles[1]"></app-alert>
<app-alert [text]="titles[2]" subTitle="Este es el tercero" (clickAlert)="onClickAlert($event)"></app-alert>
-->

<!--
<app-sumar [number_one]="1" [number_two]="43"></app-sumar>
<app-sumar [number_one]="8" [number_two]="27"></app-sumar>
-->
<!--
<app-chronometer [time]="8" (finished)="onFinished($event)"></app-chronometer>
<app-chronometer [time]="2" (finished)="onFinished($event)"></app-chronometer>
<app-chronometer [time]="12" (finished)="onFinished($event)"></app-chronometer>
<app-chronometer [time]="6" (finished)="onFinished($event)"></app-chronometer>
-->

<input type="text" [(ngModel)]="input_text">
<p>{{ input_text }}</p>
<p>
	<button (click)="onClick()">Cambiar valor de variable</button>
</p>

<div>
	<input type="" [(ngModel)]="person.name">
	<input type="" [(ngModel)]="person.last_name">
	<input type="" [(ngModel)]="person.age">
</div>
<p>Me llamo {{ person.name }} {{ person.last_name }} y tengo {{ person.age }} años</p>