<app-navbar></app-navbar>

<div class="container">
	<div class="row">
		<div class="col-12">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>

<!--
<app-alert [text]="titles[0]" subTitle="Este es el primero" (clickAlert)="onClickAlert($event)"></app-alert>
<app-alert [text]="titles[1]"></app-alert>
<app-alert [text]="titles[2]" subTitle="Este es el tercero" (clickAlert)="onClickAlert($event)"></app-alert>
-->

<!--
<app-sumar [number_one]="1" [number_two]="43"></app-sumar>
<app-sumar [number_one]="8" [number_two]="27"></app-sumar>
-->
<!--
<app-chronometer [time]="8" (finished)="onFinished($event)"></app-chronometer>
<app-chronometer [time]="2" (finished)="onFinished($event)"></app-chronometer>
<app-chronometer [time]="12" (finished)="onFinished($event)"></app-chronometer>
<app-chronometer [time]="6" (finished)="onFinished($event)"></app-chronometer>
-->
<!--
<input type="text" [(ngModel)]="input_text">
<p>{{ input_text }}</p>
<p>
	<button (click)="onClick()">Cambiar valor de variable</button>
</p>

<div>
	<input type="" [(ngModel)]="person.name">
	<input type="" [(ngModel)]="person.last_name">
	<input type="" [(ngModel)]="person.age">
</div>
<p>Me llamo {{ person.name }} {{ person.last_name }} y tengo {{ person.age }} años</p>
-->
<!-- App To-do -->
<!--
<div class="container">
	<div class="left">
		<app-form (create_homework)="onCreateHomework($event)"></app-form>
	</div>
	<div class="right">
		<app-list [homeworks]="arrHomework"></app-list>
	</div>
</div>
-->
<!--
<app-main [text]="mainText"></app-main>
-->
<!-- ng Style -->
<!--
<p [ngStyle]="paraghapProperties">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
</p>
<div>
	<button (click)="changeColor('v')">Verde</button>
	<button (click)="changeColor('r')">Rojo</button>
	<button (click)="changeColor('a')">Amarillo</button>
</div>
<div>
	<input type="text" [(ngModel)]="paraghapProperties.color">
</div>
<div>
	<input type="range" min="12" max="200" step="2" (input)="onInput($event)">
</div>
-->
<!-- ngClass -->
<!--
<app-semaforo></app-semaforo>
-->
<!-- ngIf (if, then, else)-->
<!--
<p *ngIf="show; then mainBlock else elseBlock">Contenido del párrafo</p>
<ng-template #mainBlock>
	<p>Contenido del primer párrafo</p>
</ng-template>
<ng-template #elseBlock>
	<p>Contenido del segundo párrafo</p>
</ng-template>

<p *ngIf="show">Contenido del primer párrafo</p>
<p *ngIf="!show">Contenido del segundo párrafo</p>
<button (click)="onClickShow()">Mostrar / Ocultar</button>
-->
<!-- ngFor --->
<!--
<app-bucles></app-bucles>
-->
<!-- ngSwitch -->
<!--
<app-switch></app-switch>
-->

<!-- custom directives : underline -->
<!--
<p [underline]="{ colorHover: 'yellow', colorNoHover: 'blue'}">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p [underline]="{ colorHover: 'red', colorNoHover: 'white'}">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
-->

<!-- routes -->
<!--
<div class="buttons">
	<button (click)="onClickRoute('sobre')">Acerca de nosotros</button>
	<button (click)="onClickRoute('informacion')">Información</button>
	<button (click)="onClickRoute('contacto')">Contacto</button>
</div>
-->