<p>Fecha: {{ currentDate | date:'short' }}</p>
<p>Fecha: {{ currentDate | date:'long' }}</p>
<p>Fecha: {{ currentDate | date:'shortTime' }}</p>
<p>Fecha: {{ currentDate | date:'dd-MM-yyyy' }}</p>
<p>Fecha: {{ currentDate | date:'dd-LLLL-yyyy' }}</p>
<p>Fecha: {{ currentDate | date:'dd-LLLL-yyyy HH:mm.ss' }}</p>

<p>Numero Aleatorio: {{ randomNumber | percent }}</p>
<p>Numero Aleatorio: {{ randomNumber | percent:'1.1-2' }}</p>

<p>{{ student | json }}</p>

<p>{{ text | lowercase }}</p>
<p>{{ text | uppercase }}</p>
<p>{{ text | titlecase }}</p>

<ul>
	<li *ngFor="let animal of animals | slice:min:max">{{ animal }}</li>
</ul>
<input type="range" min="0" [max]="animals.length" step="1" [(ngModel)]="min">
<input type="range" min="0" [max]="animals.length" step="1" [(ngModel)]="max">

<p>{{ long_text | slice:0:30 }}</p>